.entered-data__input-data{
  margin: 0 0 25px 0;
  padding: 0;
  display: flex;
  align-content:flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 520px){
  .entered-data__input-data{
    margin: 0 auto 15px auto;
  }
}