.entered-data__refresh{
  margin: 0;
  padding: 12px;
  width: 54px;
  height: 54px;
}

.entered-data__refresh:hover{
  cursor: pointer;
  opacity: 75%;
  animation-name: rotation;
  animation-duration: 0.5s;
  animation-iteration-count: inherit;
  animation-timing-function: linear;
}

@media screen and (max-width: 320px){
  .entered-data__refresh{
    padding: 6px;
    width: 34px;
    height:34px;
  }
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  25% {
      transform:rotate(20deg);
  }
  75% {
      transform:rotate(-20deg);
  }
  100% {
      transform:rotate(0deg);
  }
}